@page "/postboxes"

<div class="container-fluid bg-dark min-vh-100 pt-4">
    <div class="row ms-3 me-3">
        @if (PostboxEntities.Any())
        {
            foreach (var postbox in PostboxEntities)
            {
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Postbox @postbox.Id</div>
                        <div class="card-body">
                            <h5 class="card-title">Last unlock: @(postbox.StatisticsEntity.LastModified)</h5>
                            <p class="card-text">Unlock count: @postbox.StatisticsEntity.TotalUnlocks</p>
                            <a href="@($"/postboxes/{postbox.PostBoxId}/unlock-nfc")" class="btn btn-success">Unlock with NFC</a>
                            <a href="@($"/postboxes/{postbox.PostBoxId}/unlock-qr")" class="btn btn-warning">Unlock with QR Code</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>