<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (!IsLoggedIn)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(LoginLayout)"/>
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        }
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        @if (!IsLoggedIn)
        {
            <LayoutView Layout="@typeof(LoginLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        }
        else
        {
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        }
    </NotFound>
</Router>

@code
{
    public bool IsLoggedIn { get; set; }
}